*.o
*.os
*.so
*.so.0
*.pyc
build
examples/*bz2
.sconf_temp
.sconsign.dblite
config.log
py-installed
src/lib/test/connections
src/lib/test/filter
src/lib/test/generator
src/lib/test/handle
src/lib/test/instrument
src/lib/test/memory
src/lib/test/player
src/lib/test/real
src/lib/test/tstamp
src/lib/test/validation

