

/*
 * This is the style sheet template used for custom Kunquat appearance.
 * Names enclosed in angle brackets are filled with settings based on
 * user configuration.
 *
 * (TODO: list supported custom names)
 */


/* An insane default to help catch implicit settings */
*
{
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    font-family: serif;
}


QWidget
{
    margin: 0;
    padding: 0;

    background-color: <bg_colour>;
    color: <fg_colour>;
    font-size: <def_font_size>;
    font-style: normal;
    font-weight: normal;
    font-family: <def_font_family>;
}

QWidget:disabled
{
    color: <disabled_fg_colour>;
}

/* Base style for non-button container widgets */

QHeaderView::section:horizontal,
QHeaderView::section:vertical,
QMenu,
QScrollBar::handle,
QSlider::handle:horizontal,
QTabWidget::pane,
QToolBar
{
    margin: 0;
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-bottom-color: <bg_colour_dark>;
    border-radius: <border_thin_radius>;
    padding: <small_padding>;
}

QComboBox QAbstractItemView
{
    margin: 0;
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: <border_thin_radius>;
    padding: 0;
    background-color: <bg_colour>;
    color: <fg_colour>;
    outline: 0;
}

QToolTip
{
    margin: 0;
    padding: <small_padding>;
    font-size: <def_font_size>;
    font-style: normal;
    font-weight: normal;
    font-family: <def_font_family>;
}

/* Base styles for button container widgets */

QPushButton:flat,
QToolButton
{
    margin: 0;
    padding: <small_padding>;
}

QComboBox,
QComboBox::drop-down,
QComboBox:!editable,
QComboBox::drop-down:editable,
QComboBox QAbstractItemView::item:selected,
QMenu::item:selected,
QPushButton,
QPushButton:flat:hover,
QToolButton:hover,
QAbstractSpinBox::up-button,
QAbstractSpinBox::down-button,
QScrollBar::add-line,
QScrollBar::sub-line
{
    border: <border_thin_width> solid;
    border-top-color: <button_bg_colour_light>;
    border-left-color: <button_bg_colour_light>;
    border-right-color: <button_bg_colour_dark>;
    border-bottom-color: <button_bg_colour_dark>;
    border-radius: <border_thin_radius>;
    padding: <small_padding>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_bg_colour>, stop: 1 <button_bg_colour_grad>);
    color: <button_fg_colour>;
}

QPushButton:flat:!hover:!checked
{
    border: none;
    background-color: <bg_colour>;
    color: <fg_colour>;
}

QPushButton:pressed,
QPushButton:flat:pressed,
QPushButton:checked,
QPushButton:flat:checked,
QPushButton:flat:checked:hover,
QToolButton:pressed,
QToolButton:checked,
QAbstractSpinBox::up-button:pressed,
QAbstractSpinBox::down-button:pressed,
QScrollBar::add-line:pressed,
QScrollBar::sub-line:pressed
{
    border-top-color: <button_down_bg_colour_light>;
    border-left-color: <button_down_bg_colour_light>;
    border-right-color: <button_down_bg_colour_dark>;
    border-bottom-color: <button_down_bg_colour_dark>;
    padding: <small_padding>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_down_bg_colour>, stop: 1 <button_down_bg_colour_grad>);
    color: <button_down_fg_colour>;
}

/* Base style for sunken containers */

QCheckBox::indicator,
QProgressBar,
QRadioButton::indicator,
QSlider::groove:horizontal
{
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: <border_thin_radius>;
}

QAbstractSpinBox,
QLineEdit,
QListView,
QTableView,
QTextEdit,
QTreeView
{
    border: <border_thick_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: <border_thick_radius>;
    selection-background-color: <text_selected_bg_colour>;
    selection-color: <text_selected_fg_colour>;
}

/* Other tweaks */

QCheckBox,
QRadioButton
{
    spacing: <radio_check_spacing>;
}

QCheckBox::indicator,
QRadioButton::indicator
{
    margin: 0;
    padding: 0;
    width: <radio_check_size>;
    height: <radio_check_size>;
    background-color: <text_bg_colour>;
}

QCheckBox::indicator:checked
{
    image: url('<icons_path>/check_mark.png');
}

QRadioButton::indicator
{
    border-radius: <radio_border_radius>;
}

QRadioButton::indicator:checked
{
    image: url('<icons_path>/radio_mark.png');
}

QComboBox::drop-down
{
    subcontrol-origin: margin;
    subcontrol-position: top right;
    width: <combobox_button_size>;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

QComboBox:disabled
{
    color: <disabled_fg_colour>;
}

QComboBox::down-arrow
{
    width: <combobox_arrow_size>;
    image: url(<icons_path>/arrow_down_tiny.png);
}

QComboBox QAbstractItemView::item
{
    padding: <small_padding>;
}

QDialog QPushButton
{
    padding: <medium_padding>;
    min-width: <dialog_button_width>;
}

QPushButton:checked:pressed,
QPushButton:flat:checked:pressed,
QToolButton:checked:pressed
{
    border-top-color: <button_down2_bg_colour_light>;
    border-left-color: <button_down2_bg_colour_light>;
    border-right-color: <button_down2_bg_colour_dark>;
    border-bottom-color: <button_down2_bg_colour_dark>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_down2_bg_colour>, stop: 1 <button_down2_bg_colour_grad>);
    color: <button_down2_fg_colour>;
}

QPushButton::menu-indicator, QToolButton::menu-indicator
{
    width: <menu_arrow_size>;
    image: url(<icons_path>/arrow_down_tiny.png);
}

QPushButton#Important
{
    border-top-color: <important_button_bg_colour_light>;
    border-left-color: <important_button_bg_colour_light>;
    border-right-color: <important_button_bg_colour_dark>;
    border-bottom-color: <important_button_bg_colour_dark>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <important_button_bg_colour>,
        stop: 1 <important_button_bg_colour_grad>);
    color: <important_button_fg_colour>;
}

QPushButton#Important:pressed,
QPushButton#Important:checked
{
    border-top-color: <important_button_down_bg_colour_light>;
    border-left-color: <important_button_down_bg_colour_light>;
    border-right-color: <important_button_down_bg_colour_dark>;
    border-bottom-color: <important_button_down_bg_colour_dark>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <important_button_down_bg_colour>,
        stop: 1 <important_button_down_bg_colour_grad>);
    color: <important_button_down_fg_colour>;
}

QPushButton#Important:checked:pressed
{
    border-top-color: <important_button_down2_bg_colour_light>;
    border-left-color: <important_button_down2_bg_colour_light>;
    border-right-color: <important_button_down2_bg_colour_dark>;
    border-bottom-color: <important_button_down2_bg_colour_dark>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <important_button_down2_bg_colour>,
        stop: 1 <important_button_down2_bg_colour_grad>);
    color: <important_button_down2_fg_colour>;
}

QLineEdit, QAbstractSpinBox
{
    margin: <tiny_padding>;
    padding: 0;
    background-color: <text_bg_colour>;
    color: <text_fg_colour>;
}

QLineEdit:disabled, QAbstractSpinBox:disabled
{
    color: <text_disabled_fg_colour>;
}

QMenu::item
{
    padding: <small_padding>;
}

QAbstractSpinBox
{
    padding-right: <tiny_arrow_button_size>;
    border-right-color: <text_bg_colour>;
}

QAbstractSpinBox::up-button,
QAbstractSpinBox::up-button:pressed,
QAbstractSpinBox::down-button,
QAbstractSpinBox::down-button:pressed
{
    width: <tiny_arrow_button_size>;
    padding: 0;
}

QAbstractSpinBox::up-button
{
    subcontrol-origin: border;
    subcontrol-position: top right;
    border-radius: 0;
    border-top-right-radius: <border_thin_radius>;
    image: url(<icons_path>/arrow_up_tiny.png);
}

QAbstractSpinBox::down-button
{
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    border-radius: 0;
    border-bottom-right-radius: <border_thin_radius>;
    image: url(<icons_path>/arrow_down_tiny.png);
}

QHeaderView::section
{
    background-color: <bg_colour>;
}

QHeaderView::section:horizontal
{
    border-radius: 0;
}

QHeaderView::section:vertical
{
    border-radius: 0;
}

QLabel
{
    margin: 0;
    padding: <tiny_padding>;
    background-color: transparent;
}

QProgressBar
{
    background-color: <scrollbar_bg_colour>;
    color: <fg_colour>;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: <text_selected_bg_colour>;
    color: <text_selected_fg_colour>;
}

QAbstractScrollArea
{
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: <border_thin_radius>;
}

QAbstractScrollArea::corner
{
    background-color: transparent;
}

QScrollBar
{
    margin: 0;
    border: none;
    padding: 0;
    background-color: <scrollbar_bg_colour>;
}

QScrollBar:horizontal
{
    margin: 0 <scrollbar_margin> 0 <scrollbar_margin>;
    height: <scrollbar_size>;
}

QScrollBar:vertical
{
    margin: <scrollbar_margin> 0 <scrollbar_margin> 0;
    width: <scrollbar_size>;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background: transparent;
    margin: 0;
    padding: 0;
}

QScrollBar::handle
{
    margin: 0;
    padding: 0;
    background: <bg_colour>;
}

QScrollBar::handle:horizontal
{
    min-width: <scrollbar_size>;
}

QScrollBar::handle:vertical
{
    min-height: <scrollbar_size>;
}

QScrollBar::add-line,
QScrollBar::add-line:pressed,
QScrollBar::sub-line,
QScrollBar::sub-line:pressed
{
    margin: 0;
    padding: 0;
    width: <tiny_arrow_button_size>;
    height: <tiny_arrow_button_size>;
}

QScrollBar::add-line:horizontal
{
    border-top-left-radius: 0;
    border-top-right-radius: <border_thin_radius>;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: <border_thin_radius>;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: <border_thin_radius>;
    border-bottom-right-radius: <border_thin_radius>;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    border-top-left-radius: <border_thin_radius>;
    border-top-right-radius: 0;
    border-bottom-left-radius: <border_thin_radius>;
    border-bottom-right-radius: 0;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border-top-left-radius: <border_thin_radius>;
    border-top-right-radius: <border_thin_radius>;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical,
QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal
{
    margin: 0;
    border: none;
    padding: 0;
    width: <tiny_arrow_button_size>;
    height: <tiny_arrow_button_size>;
}

QScrollBar::up-arrow:vertical
{
    image: url(<icons_path>/arrow_up_tiny.png);
}

QScrollBar::down-arrow:vertical
{
    image: url(<icons_path>/arrow_down_tiny.png);
}

QScrollBar::left-arrow:horizontal
{
    image: url(<icons_path>/arrow_left_tiny.png);
}

QScrollBar::right-arrow:horizontal
{
    image: url(<icons_path>/arrow_right_tiny.png);
}

QSlider::groove:horizontal
{
    background-color: <scrollbar_bg_colour>;
    height: <slider_thickness>;
}

QSlider::handle:horizontal
{
    margin: 0;
    width: <slider_handle_size>;
    background-color: <bg_colour>;
}

QSplitter::handle:horizontal
{
    padding: <tiny_padding>;
    width: <splitter_width>;
    image: url(<icons_path>/splitter_horizontal.png);
}

QSplitter::handle:vertical
{
    padding: <tiny_padding>;
    height: <splitter_width>;
    image: url(<icons_path>/splitter_vertical.png);
}

QTabWidget::tab-bar
{
    left: <tab_bar_margin>;
}

QTabBar::tab
{
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-top-left-radius: <border_thick_radius>;
    border-top-right-radius: <border_thick_radius>;
    border-bottom: none;
    min-width: 2em;
    margin: 0;
    padding: <small_padding> <large_padding> <small_padding> <large_padding>;
}

QTabBar::tab:selected
{
}

QTabBar::tab:!selected
{
    margin-top: <medium_padding>;
    border-top-color: <tab_shade_top_colour_light>;
    border-left-color: <tab_shade_top_colour_light>;
    border-right-color: <tab_shade_top_colour_dark>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0.5 <tab_shade_top_colour>, stop: 1 <tab_shade_bottom_colour>);
    color: <button_fg_colour>;
}

QTableView, QTreeView, QListView, QTextEdit
{
    margin: 0;
    border: <border_thick_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: <border_thick_radius>;
    padding: 0;
    background-color: <text_bg_colour>;
    color: <text_fg_colour>;
}

QTableView:disabled, QTreeView:disabled, QListView:disabled, QTextEdit:disabled
{
    color: <text_disabled_fg_colour>;
}

QTableView
{
    gridline-color: <table_grid_line_colour>;
}

QTableView::item
{
    border: 0;
    padding-left: <medium_padding>;
    padding-right: <medium_padding>;
}

QTableView QTableCornerButton::section
{
    background-color: <bg_colour>;
    border: none;
}

QToolBar
{
    border-radius: 0;
}

QToolBar::separator
{
    margin: <small_padding> <medium_padding>;
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    padding: 0;
    width: 0;
}

QFrame#Header_line,
QFrame#HackSeparator
{
    border: <border_thin_width> solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    padding: 0;
    width: 0;
}

QTreeView::branch
{
    background-color: transparent;
}

QTreeView::branch:has-children:closed
{
    image: url(<icons_path>/arrow_right_tiny.png);
}

QTreeView::branch:has-children:open
{
    image: url(<icons_path>/arrow_down_tiny.png);
}


