

/*
 * This is the style sheet used for custom Kunquat appearance.
 * Names enclosed in angle brackets are filled with settings based on
 * user configuration.
 *
 * (TODO: list supported custom names)
 */


QWidget
{
    background-color: <bg_colour>;
    color: <fg_colour>;
}

QWidget:disabled
{
    color: <disabled_fg_colour>;
}

QCheckBox
{
    spacing: 5px;
}

QCheckBox::indicator
{
    margin: 0;
    border: 1px solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: 1px;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: <text_bg_colour>;
}

QCheckBox::indicator:checked
{
    image: url('<icons_path>/check_mark.png');
}

QComboBox
{
    border: 1px solid;
    border-top-color: <button_bg_colour_light>;
    border-left-color: <button_bg_colour_light>;
    border-right-color: <button_bg_colour_dark>;
    border-bottom-color: <button_bg_colour_dark>;
    border-radius: 2px;
    padding: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_bg_colour>, stop: 1 <button_bg_colour_grad>);
    color: <button_fg_colour>;
}

QComboBox::drop-down
{
    subcontrol-origin: margin;
    subcontrol-position: top right;
    width: 12px;
    margin: 0;
    border: 1px solid;
    border-top-color: <button_bg_colour_light>;
    border-left-color: <button_bg_colour_light>;
    border-right-color: <button_bg_colour_dark>;
    border-bottom-color: <button_bg_colour_dark>;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_bg_colour>, stop: 1 <button_bg_colour_grad>);
    color: <button_fg_colour>;
}

QComboBox:!editable, QComboBox::drop-down:editable
{
    margin: 0;
    border: 1px solid;
    border-top-color: <button_bg_colour_light>;
    border-left-color: <button_bg_colour_light>;
    border-right-color: <button_bg_colour_dark>;
    border-bottom-color: <button_bg_colour_dark>;
    border-radius: 2px;
    padding: 3px;
    background-color: <button_bg_colour>;
    /*
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_bg_colour>, stop: 1 <button_bg_colour_grad>);
    */
    color: <button_fg_colour>;
}

QComboBox::down-arrow
{
    image: url(<icons_path>/arrow_down_tiny.png);
}

QComboBox QAbstractItemView
{
    border: 1px solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-bottom-color: <bg_colour_dark>;
    border-radius: 2px;
    background-color: <bg_colour>;
    color: <fg_colour>;

    selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_bg_colour>, stop: 1 <button_bg_colour_grad>);
}

QPushButton, QToolButton:hover
{
    border: 1px solid;
    border-top-color: <button_bg_colour_light>;
    border-left-color: <button_bg_colour_light>;
    border-right-color: <button_bg_colour_dark>;
    border-bottom-color: <button_bg_colour_dark>;
    border-radius: 2px;
    padding: 3px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_bg_colour>, stop: 1 <button_bg_colour_grad>);
    color: <button_fg_colour>;
}

QPushButton:pressed, QToolButton:pressed
{
    border: 1px solid;
    border-top-color: <button_down_bg_colour_light>;
    border-left-color: <button_down_bg_colour_light>;
    border-right-color: <button_down_bg_colour_dark>;
    border-bottom-color: <button_down_bg_colour_dark>;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0.1, y2: 1,
        stop: 0.5 <button_down_bg_colour>,
        stop: 1 <button_down_bg_colour_grad>);
    color: <button_fg_colour>;
}

QLineEdit, QAbstractSpinBox
{
    margin: 1px;
    border: 2px solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: 3px;
    padding: 0;
    background-color: <text_bg_colour>;
    color: <text_fg_colour>;
}

QAbstractSpinBox
{
    padding-right: 16px;
    border-right-color: <text_bg_colour>;
}

QAbstractSpinBox::up-button, QAbstractSpinBox::down-button
{
    width: 16px;
    border: 1px solid;
    border-top-color: <button_bg_colour_light>;
    border-left-color: <button_bg_colour_light>;
    border-right-color: <button_bg_colour_dark>;
    border-bottom-color: <button_bg_colour_dark>;
    padding: 0;
    background-color: <button_bg_colour>;
}

QAbstractSpinBox::up-button:pressed, QAbstractSpinBox::down-button:pressed
{
    border-top-color: <button_down_bg_colour_light>;
    border-left-color: <button_down_bg_colour_light>;
    border-right-color: <button_down_bg_colour_dark>;
    border-bottom-color: <button_down_bg_colour_dark>;
    background-color: <button_down_bg_colour>;
}

QAbstractSpinBox::up-button
{
    subcontrol-origin: border;
    subcontrol-position: top right;
    border-top-right-radius: 2px;
    image: url(<icons_path>/arrow_up_tiny.png);
}

QAbstractSpinBox::down-button
{
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    border-bottom-right-radius: 2px;
    image: url(<icons_path>/arrow_down_tiny.png);
}

QHeaderView::section
{
    background-color: transparent;
}

QHeaderView::section:horizontal
{
    border-top: none;
    border-left: 1px solid <bg_colour_light>;
    border-right: 1px solid <bg_colour_dark>;
    border-bottom: none;
}

QHeaderView::section:horizontal:first,
QHeaderView::section:horizontal:only-one
{
    border-left: none;
}

QHeaderView::section:vertical
{
    border-top: 1px solid <bg_colour_light>;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid <bg_colour_dark>;
    min-width: 3px;
}

QHeaderView::section:vertical:first,
QHeaderView::section:vertical:only-one
{
    border-top: none;
}

QLabel
{
    background-color: transparent;
}

QScrollBar
{
    border: none;
    padding: 0;
    background-color: <scrollbar_bg_colour>;
}

QScrollBar:horizontal
{
    margin: 0 4px 0 4px;
    height: 14px;
}

QScrollBar:vertical
{
    margin: 4px 0 4px 0;
    width: 14px;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background: transparent;
    margin: 0;
    padding: 0;
}

QScrollBar::handle
{
    border: 1px solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-bottom-color: <bg_colour_dark>;
    padding: 0;
    background: <bg_colour>;
}

QScrollBar::handle:horizontal
{
    margin: 0 10px 0 10px;
    min-width: 20px;
}

QScrollBar::handle:vertical
{
    margin: 10px 0 10px 0;
    min-height: 20px;
}

QScrollBar::add-line, QScrollBar::sub-line
{
    margin: 0;
    border: 1px solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-bottom-color: <bg_colour_dark>;
    padding: 0;
    background: <bg_colour>;
    width: 12px;
    height: 12px;
}

QScrollBar::add-line:horizontal
{
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical,
QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal
{
    margin: 0;
    border: none;
    padding: 0;
    width: 12px;
    height: 12px;
}

QScrollBar::up-arrow:vertical
{
    image: url(<icons_path>/arrow_up_tiny.png);
}

QScrollBar::down-arrow:vertical
{
    image: url(<icons_path>/arrow_down_tiny.png);
}

QScrollBar::left-arrow:horizontal
{
    image: url(<icons_path>/arrow_left_tiny.png);
}

QScrollBar::right-arrow:horizontal
{
    image: url(<icons_path>/arrow_right_tiny.png);
}

QSplitter::handle
{
    /*image: url(<icons_path>/arrow_down_small.png);*/
}

QTabWidget::pane
{
    border: 1px solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-bottom-color: <bg_colour_dark>;
}

QTabWidget::tab-bar
{
    left: 3px;
}

QTabBar::tab
{
    border: 1px solid;
    border-top-color: <bg_colour_light>;
    border-left-color: <bg_colour_light>;
    border-right-color: <bg_colour_dark>;
    border-bottom: none;
    min-width: 2em;
    margin: 0;
    padding: 3px;
}

QTabBar::tab:selected
{
}

QTabBar::tab:!selected
{
    margin-top: 3px;
}

QTableView, QTreeView, QListView
{
    margin: 0;
    border: 2px solid;
    border-top-color: <bg_colour_dark>;
    border-left-color: <bg_colour_dark>;
    border-right-color: <bg_colour_light>;
    border-bottom-color: <bg_colour_light>;
    border-radius: 3px;
    padding: 0;
    background-color: <text_bg_colour>;
    color: <text_fg_colour>;
}

QTableView
{
    gridline-color: <bg_colour_dark>;
}

QTableView QTableCornerButton::section
{
    background-color: transparent;
    border: none;
}

QTreeView::branch
{
    background-color: transparent;
}

QTreeView::branch:has-children:closed
{
    image: url(<icons_path>/arrow_right_tiny.png);
}

QTreeView::branch:has-children:open
{
    image: url(<icons_path>/arrow_down_tiny.png);
}


